
* {
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
body{
    background-color: rgb(255, 230, 0);
    font-family: 'Montserrat', sans-serif;
    
}
main{display: flex;
align-items: center;
justify-content: center;
}
.izquierda{
    margin-left: 30px;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    padding: 4vw 5vw;
    /* con el display flex lo hacemos flexibles */
    display: flex;  /* }   aca incluimos un poco de flexbox */
    align-items: flex-start;
    justify-content: flex-start;

}

.izquierda{
    font-size: 150%;
    
}

.izquierda h1 span{
    color: cornsilk;
    display: block;
    font-weight: bold;
    font-size: 120%;
}

.izquierda p{
    width: 70%;
    font-size: 1.5vw;
    display: block;
    margin-top: 1.2vw;
    line-height: 2.1vw;
    color: rgb(0, 0, 0);
}

.izquierda a{
    color: white;
     margin-top: 2.9vw;
     margin-right: 25vw;
    padding: 1.2vw;
	display: block;
	font-size: 1.8vw;
    font-weight: bold;
    text-decoration: none;
    border: solid 0.223vw rgb(255, 255, 255);
    border-radius: 30px; 
    
}

.derecha{
    width: 50%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
